#font_sub{
    font-size: 20px;
    font-weight:bold;
}
#menus{
    margin-left: 244px;
    height: 399px;
    width: 200px;
    margin-top: 90px;
    border: gainsboro 1px solid;
    color: black;
}

#banner {
        /*width: 100%;*/
        height: 500px;
        /*width: 720px;*/
        position: absolute;
        top: 88px;
        left: 0;
        z-index: 1;
        overflow: hidden;
        text-align: center;
        margin-top: 100px;
        margin-left: 20px;
}
#banner ul li {
    float: left;
    margin-top: 100px;
}
#banner ul li img {
    float: left;
    height: 500px;
    width: 648px;
    margin-top: -85px;
    margin-left: 489px;

}

#banner .dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
}
#banner .dots li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 4px;
    text-indent: -999em;
    border: 2px solid #fff;
    border-radius: 6px;
    cursor: pointer;
    opacity: .4;
    -webkit-transition: background .5s, opacity .5s;
    -moz-transition: background .5s, opacity .5s;
    transition: background .5s, opacity .5s;
}
.dots li.active {
    background: #fff;
    opacity: 1;
}
.arrow {
    position: absolute;
    top: 200px;
}
#al {
    left: 15px;
}
#ar {
    right: 15px;
}
#sub_menu>li{
    float: left;
    padding: 3px;
    margin: 2px 0;
}





/*-------------------------*/
#lunbobox {
	width:500px;
	/*height:300px;*/
	position:relative;
}
/*.lunbo {*/
	/*width:500px;*/
	/*height:300px;*/
/*}*/
.lunbo img {
	width:649px;
	height:397px;
	position:absolute;
	top:-397px;
	left:502px;
}
#lunbobox ul {
	width:285px;
	position:absolute;
	bottom:333px;
	right:-576px;
	z-index:5;
}
#lunbobox ul li {
	cursor:pointer;
	width:10px;
	height:4px;
	border:1px solid #cccccc;
	float:left;
	list-style:none;
	background:#cccccc;
	text-align:center;
	margin:0px 5px 0px 0px;
}
#toleft {
	display:none;
	width:30px;
	height:100px;
	font-size:40px;
	line-height:100px;
	text-align:center;
	color:#f4f4f4;
	/*background:#cccccc;
	*/
    /*background:url("../images/toleft.jpg")no-repeat center;
	*/
    position:absolute;
	top:90px;
	left:12px;
	cursor:pointer;
	z-index:99;
	opacity:0.4;
}
#toright {
	display:none;
	width:30px;
	height:100px;
	font-size:40px;
	line-height:100px;
	text-align:center;
	color:#f4f4f4;
	/*background:#cccccc;
	*/
    position:absolute;
	top:90px;
	right:0px;
	cursor:pointer;
	z-index:99;
	opacity:0.4;
}
